#bounding-box
{ 
  z-index: 0;
 }

#image-crop-trigger
{ 
  background-color: #000000;
  opacity : 0;
  position: absolute;
  width: 100%;
  height: 100%;
 }

#image-crop-selection
{ 
  background-color: gray;
  position: absolute;
  }

#image-crop-overlay 
{
  background-color: #fff;
  overflow: hidden;
  }

#image-crop-outline-n,
#image-crop-outline-e,
#image-crop-outline-w,
#image-crop-outline-s
{
  background: #fff url('../img/outline.gif');
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  }

#image-crop-outline-n
{
  width: 100%;
  height: 1px;  
  top: -1px;
  }

#image-crop-outline-e
{
  width: 1px;
  height: 100%;  
  right: 0px;
  }

#image-crop-outline-w
{
  width: 1px;
  height: 100%;  
  left: 0px;
  }

#image-crop-outline-s
{
  width: 100%;
  height: 1px;  
  bottom: 0px;
  }

div#image-crop-size-hint-background 
{
  background-color: #000;
  }

span#image-crop-size-hint-foreground 
{
  color: #fff;
  font-family: 'Verdana', 'Geneva', sans-serif;
  font-size: 12px;
  text-shadow: 0 -1px 0 #000;
  }

#image-crop-preview-holder 
{
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  border: 3px #ef2929 solid;
  box-shadow: 0 0 5px #000;
  }

img#image-crop-preview 
{
  border: none;
  }

#image-crop-rotate-handle
{ 
  position: absolute;
  background-color: #fff;
  top: 20px;
  left: 50%;
  border: 1px #000 solid;
  border-radius: 4px;
  margin-left: -4px;
  height: 8px;
  width: 8px;
 }

#image-crop-rotate-center
{ 
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px #000 solid;
  border-radius: 4px;
  margin-top: -4px;
  margin-left: -4px;
  height: 8px;
  width: 8px;
 }

.image-crop-resize-handle 
{
  position: absolute;
  background-color: #fff;
  border: 1px #000 solid;
  height: 7px;
  width: 7px;
  }

#image-crop-nw-resize-handle 
{ 
  left: -4px;
  top: -4px;
  }
#image-crop-n-resize-handle 
{ 
  left: 50%;
  top: -4px;
  margin-left: -4px;
  }
#image-crop-ne-resize-handle 
{ 
  right: -4px;
  top: -4px;
  }
#image-crop-w-resize-handle 
{ 
  left: -4px;
  top: 50%;
  margin-top: -4px;
  }
#image-crop-e-resize-handle 
{ 
  right: -4px;
  top: 50%;
  margin-top: -4px;
  }
#image-crop-sw-resize-handle 
{ 
  left: -4px;
  bottom: -4px;
  }
#image-crop-s-resize-handle 
{ 
  left: 50%;
  bottom: -4px;
  margin-left: -4px;
  }
#image-crop-se-resize-handle 
{ 
  right: -4px;
  bottom: -4px;
  }

#image-crop-clear-selection
{ 
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  padding: 1px 4px;
 }