/* **********************************************************************
   Page Layout
   */

.header
{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  z-index: 9999;
 }

.header .header-content
{
  position: relative;
  width: 1160px;
  margin: 0 auto;
  height: 40px;
 }

.header .title, .header .subtitle
{
  position: absolute;
  top: 0px;
  padding: 10px 0;
 }

.header .title
{
  left: 0px;
  font-weight: bold;
 }

.header .subtitle
{
  right: 0px;
 }

.container
{
  margin-top: 70px;
  padding-bottom: 50px;
 }

.well
{
  position: relative;
  height: 590px;
  width: 380px;
  padding: 8px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }

.pull-down
{
  position: absolute;
  left: 16px;
  bottom: 8px;
  width: 350px;
  }

.jxgbox
{
  margin-bottom: 10px;
  height: 640px;
 }

.nav-tabs > li > a
{
  position: relative;
  top: 1px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover
{
  background-color: #f5f5f5;
  z-index: 1000;
 }

.nav > li > a.selected
{
  background-color: #eee;
}

.tab-content
{
  overflow: visible;
 }

.nav-tabs
{
  min-width: 315px;
  margin-bottom: -1px;
 }

/* **********************************************************************
   Function Picker
   */

.thumbnails > li
{
  margin-right: -18px;
  margin-bottom: 0px;
  margin-top: 5px;
  }

.thumbnails .caption h5
{
  margin-top: 2px;
  margin-bottom: 5px;
 }

#graph-overlay
{ 
  position: absolute;
  right: 200px;
  top: 375px; 
  /* box is positioned relative to the whole page 
     TODO: after changing the selection box to be positioned relative to the graph,
     make everything positioned relative to the graph window
     */
  margin-left: -225px;
  margin-top: -175px;
  width: 400px;
  height: 300px;
  padding: 24px;
  z-index: 9999;  
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
 }

#graph-overlay-scale-x
{ 
  position: absolute;
  left: 50px;
  bottom: 20px;
  width: 370px;
 }

#graph-overlay-scale-y
{  
  position: absolute;
  left: 20px;
  bottom: 50px;
  height: 270px;
}

#graph-overlay .minifigure
{ 
  position: absolute;
  border: 1px solid #aaa;
  left: 51px;
  bottom: 51px;
  height: 268px;
  width: 368px;
 }

#graph-overlay .label
{ 
  position: absolute;
  padding-top: 3px;
 }

#graph-overlay-label-x
{
  left: 50%;
  bottom: 15px;
}

#graph-overlay-label-y
{
  left: 15px;
  top: 50%;
}

#graph-overlay-label-x,
#graph-overlay-label-y
{ 
  background-color: #ddd;
 }

#graph-overlay-label-x:hover,
#graph-overlay-label-y:hover
{ 
  background-color: #aaa;
 }

#graph-overlay-min-x
{
  left: 15px;
  bottom: 15px;
}

#graph-overlay-min-y
{
  left: 15px;
  bottom: 15px;
}

#graph-overlay-max-x
{
  right: 15px;
  bottom: 15px;
}

#graph-overlay-max-y
{
  left: 15px;
  top: 15px;
}

/* **********************************************************************
   Function Editor
   */

#datatable
{
  font: 13px Menlo, Monaco, monospace;
  padding: 5px;
  margin-bottom: 5px;
  width: 340px;
  height: 505px;
 }

#datatables
{
  max-height: 425px;
  margin-bottom: 15px;
  width: 365px;
  overflow-x: hidden;
  overflow-y: scroll;
 }

.datatable
{
  /* font: 13px Menlo, Monaco, monospace; */
  margin-bottom: 5px;
  width: 350px;
  height: 100px;
  overflow-x: hidden;
  border: 1px solid #ccc;
}

.datatable a.remove-function
{ 
  position: absolute;
  top: 5px;
  height: 15px;
  width: 15px;
  color: black;
  font-size: 14px;
  z-index: 1;
 }

.datatable a.remove-function:hover
{ 
  font-size: 15px;
  margin-left: -1px;
  color: #333;
  text-decoration: none;
 }

.datatable .remove-function
{ 
  right: 18px;
 }

.datatable .virtualScroll
{
  margin: -1px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
 }

.datatable .handsontable
{
  margin: -1px;
 }

.left-right, .left-mid-right
{
  position: relative;
 }

.left-right div, .left-mid-right div
{
  width: 50%;
  padding: none;
  margin: none;
  float: left;
 }

.left-mid-right div
{
  width: 33%;
}

.left-right:after, .left-mid-right:after
{
  clear: both;
 }

.btn-toolbar
{
  /* some random hacks */
  text-transform: none;
  margin-top: 4px;
 }

.disabled
{
  opacity: 0.4;
  pointer-events: none;
 }