body
{ 
  margin-top: 50px;
  padding-bottom: 50px;
 }

.well
{
  position: relative;
  height: 590px;
  width: 280px;
  padding: 8px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }

.pull-down
{
  position: absolute;
  left: 16px;
  bottom: 8px;
  width: 250px;
  }

.jxgbox
{
  margin-bottom: 10px;
  height: 640px;
 }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover 
{ 
  background-color: #f5f5f5;
  position: relative;
  top: 1px;
  z-index: 1000;
 }

.nav > li > a.selected 
{ 
  background-color: #eee;
}

.tab-content
{ 
  overflow: visible;
 }

.nav-tabs
{ 
  margin-bottom: -1px;
 }

#datatable
{ 
  /* font: 13px Menlo, Monaco, monospace; */
  margin-bottom: 15px;
  width: 250px;
  height: 420px;
  overflow-x: hidden;
  border: 1px solid #ccc;
}

#datatable .virtualScroll 
{ 
  margin: -1px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
 }

#datatable .handsontable
{ 
  margin: -1px;
 }

.left-right
{ 
  position: relative;
 }

.left-right div
{ 
  width: 50%;
  padding: none;
  margin: none;
  float: left;
 }

.left-right:after
{ 
  clear: both;
 }

.btn-toolbar
{ 
  /* some random hacks */
  text-transform: none;
  margin-top: 4px;
 }

.disabled
{ 
  opacity: 0.4;
  pointer-events: none;
 }